<h4 class="title">Users table</h4>
<!--{{board}}-->
{{errorMessage}}
<div class="col-md-6">
  <h2 class="mat-headline"></h2>

  <table class="mat-table">
    <thead>
    <tr>
      <th class="mat-calendar-table-header">Id</th>
      <th class="mat-calendar-table-header">Name</th>
      <th class="mat-calendar-table-header">Username</th>
      <th class="mat-calendar-table-header">Email</th>
      <th class="mat-calendar-table-header">Password</th>
      <th class="mat-calendar-table-header">Roles</th>
    </tr>
    </thead>
    <tbody class="table">
    <tr  *ngFor="let human of humans">
      <td>{{human.id}}</td>
      <td >{{human.name}}</td>
      <td>{{human.username}}</td>
      <td>{{human.email}}</td>
      <td>{{human.password}}</td>
      <td *ngFor="let role of human.roles ">{{role.name}}</td>
      <td><button class="myButton"  (click)="deleteUser(human)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>
</div>
