/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.inline{
  display: inline-block;
}
.main{
  background-color: whitesmoke;
}
.title{
  text-align: center;
  font-size: 30px;
}
.btn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: white;
}
.btn--logout {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.btn--login{
  background-color: #5B7BD5
}
.input{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom:4px solid greenyellow; ;
  background-color: transparent;
  color: gray;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.ref{
  text-decoration: none;
  color: blue;
}
.error{
  color: red;
}
.notification{
  color: blue;
}
