<div *ngIf="isSignedUp; else signupForm" class="notification">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="regNavigation" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <!--<label for="name">Your name</label>-->
        <input type="text" class="input" placeholder="Name" name="name" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required" class="error">Name is required</div>
        </div>
      </div>
      <div >
        <!--<label for="username">Username</label>-->
        <input type="text" class="input" placeholder="Username" name="username" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required" class="error">Username is required</div>
        </div>
      </div>
      <div>
        <input type="text" class="input" placeholder="Email" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required" class="error">Email is required</div>
          <div *ngIf="email.errors.email" class="error">Email must be a valid email address</div>
        </div>
      </div>
      <div>
        <input type="password" class="input" placeholder="Password" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required" class="error">Password is required</div>
          <div *ngIf="password.errors.minlength" class="error">Password must be at least 6 characters</div>
        </div>
      </div>
      <div>
        <button class="btn btn--login">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="error">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
