.regNavigation{
  margin-top: 5%;
  height: 70%;
  width: 30%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: black;
  padding: 10px;
  border: 4px solid darkgray;
  word-wrap: break-word;
}
